.App {
  text-align: center;
}
img {
  width: 15%;
  height: 15%;
}
h1 {
  text-align: center;
  color: limegreen;
  font-size: 50px;
}
.btn{
    background-color: teal;
    border: white;
    margin: 0 auto;

}

.card-header {
    background-color: teal;
    color: white;
    font-size: 20px;
}

.card {
  width: 30%;
  height: 30%;
  margin:0 auto;
}

.table {
  background-color: darkblue;
  color: white;
}

